*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(243, 198, 0);
    height: 6vh;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    
}

.emails h2{
    display: inline;
    margin-right: 10px;
    font-size: 0.9em;
    color: black;
}

.emails{
    padding: 10px 60px;
}

.social-icons{
    padding: 10px 80px;
}

.social-icons i{
    margin-right: 10px;
}


nav .logo img{
    width: 120px;
    height: 100px;
    padding: 10px 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 135, 221);
    height: 12vh;
}

nav ul{
    padding: 10px 80px;
}


nav ul li{
    list-style:none;
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color:white;
    margin: 10px 20px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;

}

nav ul li a:hover{
    background-color: white;
    color: rgb(42, 135, 221);
    transition: .3s;
}

nav ul .home a{
    background-color: white;
    color: rgb(42, 135, 221);
}

/* mainpage code */

.mainpage{
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url('bg.jpg');
    height: 82vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.main-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}


.main-title{
    text-align: center;
    
}

.main-title h1{
    color: white;
    font-size: 4em;
    font-weight: bold;
    margin-bottom: 20px;
}

.main-title p{
    color: white;
    font-size: 1em;
    margin-bottom: 20px;
}

.main-title button{
    background-color: rgb(42, 135, 221);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

}

.main-title button a{
    text-decoration: none;
    color:white;
    font-size:1.3em;
}