*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

header{
    background-color: rgb(243, 198, 0);
    height: 6vh;
}

.top-nav{
    display: flex;
    justify-content: space-between;
    
}

.emails h2{
    display: inline;
    margin-right: 10px;
    font-size: 0.9em;
    color: black;
}

.emails{
    padding: 10px 60px;
}

.social-icons{
    padding: 10px 80px;
}

.social-icons i{
    margin-right: 10px;
}


nav .logo img{
    width: 120px;
    height: 100px;
    padding: 10px 80px;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 135, 221);
    height: 12vh;
}

nav ul{
    padding: 10px 80px;
}


nav ul li{
    list-style:none;
    display: inline;
}

nav ul li a{
    text-decoration: none;
    color:white;
    margin: 10px 20px;
    padding: 10px 15px;
    border-radius: 5px;
    font-weight: bold;

}

nav ul li a:hover{
    background-color: white;
    color: rgb(42, 135, 221);
    transition: .3s;
}

nav ul .developer a{
    background-color: white;
    color: rgb(42, 135, 221);
}


/* mainpage for developer section*/


.main-title h1{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 3em;
}

.card-cont3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
}

.card1{
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    width: 350px;
    border-radius: 5px;
}

.card-cont3 .card1 h1{
    text-align: center; 
    margin-top: 10px;
    font-size: 2em;
}

.card-cont3 .card1 p{
    text-align: center; 
    padding-bottom: 20px;
    margin-top: 10px;
    font-size: 1em;
    font-weight: bold;
}


.card-cont3 .card1 img{
    width:350px;
    height: 350px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
} 

footer{
    background-color:rgb(243, 198, 0) ;
    color: black;
    font-weight:bold;
    text-align: center;
    padding: 20px;
    font-size: 1.3em;
}
